{% if (productsViewed | length) > 0 %}
<section class="other-products">
  <div class="container">
    <div class="other-products__wrapper">
      <h2 class="other-products__title block-title">Вы недавно просматривали</h2>
      <div class="round-button-outlined__pagination-wrapper">
        <div class="viewed__btn-prev round-button-outlined__btn-prev"></div>
        <div class="round-button-outlined__pagination"></div>
        <div class="viewed__btn-next round-button-outlined__btn-next"></div>
      </div>
    </div>
    <div class="swiper-container viewed__slider product-slider">
      <div class="swiper-wrapper other-products__list product-slider__list">
        {% for product in productsViewed %}
          23
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}