<section class="main-slider">
  <div class="swiper-container main-slider__inner">
    <div class="swiper-wrapper">
        <a class="swiper-slide main-slider__slide " href="#">
          <img class="main-slider__image-desktop main-slider__img  lzy_img"
            src="./assets/images/main-slider.webp" width="400" height="160"
            alt="banner" />
        </a>
        <a class="swiper-slide main-slider__slide " href="#">
          <img class="main-slider__image-desktop main-slider__img  lzy_img"
            src="./assets/images/main-slider.webp" width="400" height="160"
            alt="banner" />
        </a>
        <a class="swiper-slide main-slider__slide " href="#">
          <img class="main-slider__image-desktop main-slider__img  lzy_img"
            src="./assets/images/main-slider.webp" width="400" height="160"
            alt="banner" />
        </a>
    </div>
    <div class="swiper-pagination main-slider__pagination"></div>
    <div class="swiper-scrollbar main-slider__scrollbar"></div>
    <div class="container main-slider__navigation">
      <div class="round-button-outlined__pagination-wrapper">
        <div class="main-slider__btn-prev round-button-outlined__btn-prev"></div>
        <div class="main-slider__btn-next round-button-outlined__btn-next"></div>
      </div>
    </div>
  </div>
</section>