<section class="special-offer">
  <div class="container">
    <div class="special-offer__slider swiper-container">
      <div class="special-offer__wrapper">
        <h2 class="special-offer__title block-title">
          Специальные предложения
        </h2>
        <div class="round-button-outlined__pagination-wrapper">
          <div class="special-offer__btn-prev round-button-outlined__btn-prev"></div>
          <div class="round-button-outlined__pagination"></div>
          <div class="special-offer__btn-next round-button-outlined__btn-next"></div>
        </div>
      </div>
      <div class="special-offer__list swiper-wrapper" style="display: flex;justify-content: space-evenly;">
        <div class="special-offer__link swiper-slide">
          <load ="templates\catalog\discount-item-inner.html" />
        </div>
        <div class="special-offer__link swiper-slide">
          <load ="templates\catalog\discount-item-inner.html" />
        </div>
        <div class="special-offer__link swiper-slide">
          <load ="templates\catalog\discount-item-inner.html" />
        </div>
      </div>
      <div class="swiper-scrollbar special-offer__scrollbar"></div>
    </div>
  </div>
</section>