<section class="popular">
  <div class="container">
    <div class="popular__wrapper">
      <h2 class="popular-title block-title">
        Популярные товары
      </h2>
      <div class="round-button-outlined__pagination-wrapper">
        <div class="popular__btn-prev round-button-outlined__btn-prev"></div>
        <div class="round-button-outlined__pagination"></div>
        <div class="popular__btn-next round-button-outlined__btn-next"></div>
      </div>
    </div>
    <div class="swiper-container popular__slider product-slider">
      <div class="swiper-wrapper product-slider__list" style="display: flex;justify-content: space-evenly;">
        <load ="templates\catalog\product-item-inner.html" />
        <load ="templates\catalog\product-item-inner.html" />
        <load ="templates\catalog\product-item-inner.html" />
        <load ="templates\catalog\product-item-inner.html" />
      </div>
    </div>
    <a class="popular__link more-link" href="#">
      <span>Все товары</span>
    </a>
  </div>
</section>