<li class="cart-preview__item preview-item" data-product data-id="1">
  <a href="#">
    <div class="preview-item__img">
      <img loading="lazy" width="100%" height="auto" src="#" alt="#" />
    </div>
  </a>
  <div class="preview-item__body">
    <div class="preview-item__top">
      <a href="#">
        <h3 class="preview-item__title">Категория</h3>
      </a>
      <button class="preview-item__remove" data-delete-product>
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.3 6.3a1 1 0 0 1 1.4 0l4.3 4.3 4.3-4.3a1 1 0 1 1 1.4 1.4L13.4 12l4.3 4.3a1 1 0 0 1-1.4 1.4L12 13.4l-4.3 4.3a1 1 0 0 1-1.4-1.4l4.3-4.3-4.3-4.3a1 1 0 0 1 0-1.4Z"/></svg>
      </button>
    </div>
    <div class="preview-item__bottom">
      <div class="preview-item__quantity qty">
        <button class="preview-item__decrease minus minus_button"></button>
        <input class="preview-item__value item_qty" value="1" type="number" min="1">
        <button class="preview-item__increase plus plus_button"></button>
      </div>
      <div class="preview-item__prices">
        <div class="preview-item__price preview-item__price_old" style="display: none">
          <span>100 ₽</span>
        </div>
        <div class="preview-item__price">
          <span> 100 ₽</span>
        </div>
      </div>
    </div>
  </div>
</li>