<!DOCTYPE html>
<html lang="ru" prefix="og: //ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/x-icon" href="/icons/fav_RS.svg">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />
  <meta name="description" content="{{ page.meta_description }}" />
  <link rel="dns-prefetch" href="https://mc.yandex.ru/">
  <link rel="dns-prefetch" href="https://www.googletagmanager.com/">
</head>

<body>
  <div class="wrap">
    {{ content }}
  </div>
</body>

</html>