<div class="header__top">
  <div class="container">
    <div class="header__top-wrap">
      <div class="header__top-left">
        <div class="header__top-location location">
          <div class="location__select">
            <form action="" method="post">
              <div class="select">
                <div class="simple-select">
                  <div class="result-row">
                    <div class="result">
                      <p data-location-result data-slug="#">Спб</p>
                    </div>
                  </div>
                  <ul class="simple-select__list">
                    <li class="simple-select__option" data-location data-slug="#">
                      <a href="#"
                        style="display: block; width: 100%;">Спб</a>
                    </li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="header__top-block header__faq">
          <a href="#">
            Вопросы и ответы
          </a>
        </div>
      </div>
      <div class="header__top-right">
        <a
          href="tel:#">
          Телефон
        </a>
        <div class="header__contact-us">
          <a href="#">
            Связаться с нами
          </a>
        </div>
      </div>
    </div>
  </div>
</div>