<div class="swiper-slide product__item product-slider__item">
  <a class="product catalog__one-product" href="#" style="position: relative;">
    <div class="product__code">
      Код продукта
    </div>
    <div class="product__availability">
      <div class="availability-true active">
        В наличии
      </div>
    </div>
    <div class="product__image">
      <div class="swiper-container product-images__slider">
        <div class="swiper-wrapper">
          <img class="swiper-slide lzy_img" width="282" height="338" src="./assets/images/product.webp" alt="#" />
        </div>
        <div class="swiper-pagination product-images__pagination"></div>
      </div>
    </div>
    <h3 class="product__title">
      Наименование
    </h3>
  </a>
  <div class="product__price-wrapper" data-id="1">
    <div class="product__price">
      <div class="product__new-price">
        <span class="new-price__number">
          100 р
        </span>
      </div>
    </div>
    <div class="product__basket-wrapper qty">
      <div class="product__input">
        <div class="minus minus_button"></div>
        <input class="item_qty" name="qty" type="number" value="1" min="1" maxlength="5">
        <div class="plus plus_button"></div>
      </div>
      <button class="product__basket" type="submit">
        В корзину
      </button>
    </div>
  </div>
</div>